body {
    font-family: 'Cinzel', serif;
}

.playerSelect {
    border: 2px hidden green;
    padding: 1em;
}

.playerSelect:hover {
    border: 2px solid green;
    padding: 1em;
    background: lightgreen;
}

#game-title {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

#character-select {
    text-align: center;
}

#characters {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}