body {
    font-family: 'Cinzel', serif;
}

.playerSelect {
    border: 2px hidden green;
    padding: 1em;
}

.playerSelect:hover {
    border: 2px solid green;
    padding: 1em;
    background: lightgreen;
}

.playerSelected {
    border: 2px solid green;
    padding: 1em;
    background: lightgreen;
}

.opponentSelect {
    border: 2px hidden red;
    padding: 1em;
}

.opponentSelect:hover {
    border: 2px solid red;
    padding: 1em;
    background: lightcoral;
}

.opponentSelected {
    border: 2px solid red;
    padding: 1em;
    background: lightcoral;
}

#game-title {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

#character-select #battle-ground #battle-instructions {
    text-align: center;
}

#characters {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#battle {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}